$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$bootstrap-sass-asset-helper: true;
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


.activities{
  overflow: auto;
  background: aliceblue;
  margin: 0;
  padding: 0;
  list-style-type: none;  
  .activity{
    background: gray;
    position: relative;
    color: #fff;
    width: 30%;
    float: left;
    margin: 19px;
    height: 340px;
    padding: 22px;
    font-size: 26px;
    border-radius: 5px;  
    &.learn{ background: #16a085;}
    &.read{ background: #27ae60;}
    &.used{ background: #2980b9;}
    &.published{ background: #8e44ad;}
    &.attended{ background: #f1c40f;}
    &.performed{ background: #e67e22;}
    &.created{ background: #e74c3c;}

    h3{
      font-size: 38px;
      margin-top: 5px;
    }
    .bottom{
      position: absolute;
      bottom: 20px;
      right: 20px;
    }    
  }
}

.meeting-summary {
  padding: 20px;
  .row {
    margin-bottom: 15px;
  }
}

.meeting-form {
  padding: 20px;
  .row {
    margin-bottom: 15px;
  }
}

.meeting-list {
  padding: 20px;
  border: 1px solid #ddd;
  li {
    font-size: 20px;
    line-height: 30px;
  }
}
